# Discord Configuration
CLIENT_ID=1487705589210550282
CLIENT_SECRET=ywNzvJVwUK7yEgAEEJHnAWUR5QAJn3P3

# Database
MONGODB_URI=mongodb://localhost:27017/jailbreak-hub

# Server
PORT=3000
NODE_ENV=development
